@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap');


header {
    
    height: 100px;
    background-image: url(../img/wall.png);
    font-family: 'Edu TAS Beginner', sans-serif; 

}
    

body {
    height: 100%;
    background-image: url(../img/cork.png);
    background-size: cover;
    background-attachment: fixed;
}

#polaroid {
    background-color: white;
    height: 300px;
    position: relative;
    box-shadow: 0 10px 8px rgba(0,0,0,0.2);
}

.photo{
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.photo img {
    width: 100%;
    height: 100%;
    padding: 0.4rem;
}

.pin{
    position: absolute;
    top: -13px;
    right: 43%;
    size: 2px;
}