@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    
    height: 100px;
    background-image: url(../img/wall.png);
    font-family: 'Edu TAS Beginner', sans-serif; 

}
    

body {
    
    background-image: url(../img/cork.png);
    background-size: cover;
    
}

#polaroid {
    background-color: white;    
    position: relative;
    box-shadow: 0 10px 8px rgba(0,0,0,0.2);
    padding: 1rem;
}

.pin{
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.photo{
    aspect-ratio: 1 / 1;    
}

.photo img {
    width: 100%;
    height: 100%;
    padding: 0.4rem;
}

.text {
    padding: 0.4rem;
}