@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities 

.d-flex {
    display: flex;
}

.gap {
    gap: 2rem;
}

.wrap {
    flex-wrap: wrap;
}

*/

header {
    
    /* height: 100px;*/
    background-image: url(../img/wall.png);
    font-family: 'Edu TAS Beginner', sans-serif;
    font-weight: bolder; 

}
    

body {
    
    background-image: url(../img/cork.png);
    background-size: cover;
    
}

.polaroid {
    background-color: white;    
    position: relative;
    box-shadow: 0 10px 8px rgba(0,0,0,0.2);
    padding: 1rem;

}

.pin{
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translate(-50%, -50%);
    
   
}

.photo{
    aspect-ratio: 1 / 1;   
     
}

.photo img {
    width: 100%;
    height: 100%;
    padding: 0.4rem;
    
}

.text {
    padding: 0.4rem;
}

.text p:first-child {
    font-family: 'Sometype Mono', monospace;
}

.text p:last-child {
    font-family: 'Edu TAS Beginner', sans-serif;
    font-weight: bolder;
}


.polaroid:hover {

    transform: scale(1.05) rotate(3deg);

    .pin {
        display: none;
    }
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}



